<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="oreder_item" instance="SimplifiedMagento\FirstModule\Observer\Checkout" />
    </event>
</config>